# 의존성 모듈 폴더 및 파일
/node_modules
/.pnp
.pnp.js

# 테스팅 폴더
/coverage

# 빌드 결과물
/build
/dist
/dist-type

# 환경설정
.DS_Store
# 필요 할 경우 아래 환경 변수를 활성화 시키세요
#.env-cmdrc*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
